.env
node_modules/




uploads/doctors/**.jpg
uploads/doctors/**.gif
uploads/doctors/**.png

uploads/hospitals/**.png
uploads/hospitals/**.jpg
uploads/hospitals/**.gif

uploads/users/**.gif
uploads/users/**.jpg
uploads/users/**.png



